.dos {

    background-color: aqua;}


header {

    background-color: aquamarine;
}


footer {

    background-color: violet;
}

.uno {

    background-color: teal;
}

.tools {

    background-color: yellow;
}

.lenguages {

    background-color: yellowgreen;
}

]